@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: #0c0c0c;
  font-family: "Inter", sans-serif;
}

/*=============*\
=====Header=====
\*=============*/

#header {
  width: 100%;
  background-color: transparent;
  transition: ease-out 0.2s;
}
#header .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
  margin-left: 28px;
  margin-right: 28px;
  font-size: 17px;
  border-bottom: solid 4px transparent;
  color: #ffff;
}
#header .btn {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9bf00b;
  border-radius: 0;
  font-size: 15px;
  border: none;
  height: 60px;
  padding: 21px 16px;
  color: #0c0c0c;
}
#header .nav-link:hover {
  border-bottom: solid 3px #9bf00b;
}

.navbar-toggler .fa {
  color: #fff;
  font-size: 36px;
}
/*=============*\
======About=====
\*=============*/
.about {
  padding-top: 194px;
}
.about h1 {
  color: #fff;
  font-size: 72px;
}
.about h5 {
  color: #9bf00b;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 48px;
}
.luz-verde-gradiente {
  position: absolute;
  width: 520px;
  height: 482px;
  left: 30%;
  top: 488px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(134, 207, 9, 0.258984) 20.31%,
    rgba(155, 240, 11, 0.3) 23.53%,
    rgba(0, 219, 0, 0.3) 35.42%,
    rgba(0, 123, 0, 0.3) 40.63%,
    rgba(0, 132, 0, 0.3) 49.51%
  );
  opacity: 0.7;

  filter: blur(125px);
}

.main-text {
  z-index: 1;
}
.imagem-xbox {
  z-index: 1;
}

/*====================*\
======Presentation=====
\*====================*/

.presentation {
  padding-top: 300px;
}
.presentation h2 {
  font-size: 64px;
  font-weight: 600;
  color: #fff;
}
.presentation h2 span {
  color: #9bf00b;
}
.presentation p {
  font-size: 23px;
  font-weight: 500;
  color: #c0c0c0;
  padding-top: 40px;
}
.games-images img {
  width: 100%;
  margin: 0 auto;
}
#games {
  padding-top: 328px;
}
/*===========*\
======Faq=====
\*===========*/

.faq {
  padding-top: 300px;
}
.faq h1 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}
.faq h1 span {
  color: #9bf00b;
}
.faq .accordion-item {
  background: transparent;
  color: #c0c0c0;
}

.accordion-body {
  font-weight: 500;
  font-size: 18px;
}
.accordion-flush .accordion-item .accordion-button {
  font-size: 24px;
  font-weight: 500;
}

.faq .accordion-header button {
  background-color: transparent;
  box-shadow: none;
  outline: none !important;
  color: #fff;
}
/* Alterar cor do icone */
.accordion-button:not(.collapsed) {
  background-color: #f0f0f0;
  color: #fff;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239bf00b'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/*===========*\
=====Footer====
\*===========*/

footer {
  padding-top: 180px;
}
.info-footer {
  align-items: center;
}
footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 18px;
}
footer ul li {
  display: flex;
  list-style: none;
  padding-left: 56px;
  align-items: center;
}
footer ul li:first-child {
  margin-left: 0;
  flex-direction: row-reverse;
}
.copyright {
  justify-content: end;
}

/*===========*\
=Media queries =
\*===========*/
@media only screen and (max-width: 768px) {
  #header .nav-link {
    margin-left: 18px;
    margin-right: 18px;
    font-size: 8px;
    width: 35px;
    height: 10px;
  }
  #header .navbar ul li {
    padding: 6px 6px;
    background: rgba(103, 103, 103, 0.39);
    border-radius: 50px;
  }
}

@media only screen and (max-width: 991.98px) {
  body,
  html {
    background-color: hsla(105, 14%, 5%, 1);
  }
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .navbar-nav {
    padding-top: 24px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .navbar ul li {
    padding: 6px 6px;
    background: rgba(103, 103, 103, 0.39);
    border-radius: 50px;
  }
  .ordem {
    justify-content: center;
    width: 100%;
  }
  #header .btn {
    width: inherit;
    color: #0c0c0c;
    height: 60px;
    padding: 21px 16px;
  }
  .about {
    padding-top: 24px;
  }
  .luz-verde-gradiente {
    opacity: 0.1;
  }
  .presentation {
    padding-top: 59px;
  }
  .presentation h2 {
    color: #9bf00b;
  }
  .faq {
    padding-top: 40.15px;
  }
  footer ul {
    flex-direction: column;
  }
  .copyright {
    flex-direction: row-reverse;
  }
}
