@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: #0c0c0c;
  font-family: "Inter", sans-serif;
}
#header {
  width: 100%;
  background-color: transparent;
  transition: ease-out 0.2s;
}
#header .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
  margin-left: 28px;
  margin-right: 28px;
  font-size: 17px;
  border-bottom: solid 4px transparent;
  color: #ffff;
}
#header .btn {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9bf00b;
  border-radius: 0;
  font-size: 15px;
  border: none;
}
#header .nav-link:hover {
  border-bottom: solid 3px #9bf00b;
}

.navbar-toggler .fa {
  color: #fff;
  font-size: 36px;
}
.about {
  padding-top: 283px;
}
.about h1 {
  color: #fff;
  font-size: 72px;
}
.about h5 {
  color: #9bf00b;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 48px;
}
#gradiente {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(134, 207, 9, 0.258984) 20.31%,
      rgba(155, 240, 11, 0.3) 23.53%,
      rgba(0, 219, 0, 0.3) 35.42%,
      rgba(0, 123, 0, 0.3) 40.63%,
      rgba(0, 132, 0, 0.3) 49.51%
    )
    no-repeat center bottom;
  background-size: cover;
  border: 1px solid #000000;
  filter: blur(250px);
  background-size: cover;
}
.presentation {
  padding-top: 300px;
}
.presentation h2 {
  font-size: 64px;
  font-weight: 600;
  color: #fff;
}
.presentation h2 span {
  color: #9bf00b;
}
.presentation p {
  font-size: 23px;
  font-weight: 500;
  color: #c0c0c0;
  padding-top: 40px;
}
#games {
  padding-top: 300px;
}
.faq {
  padding-top: 300px;
}
.faq h1 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}
.faq h1 span {
  color: #9bf00b;
}
.faq .accordion-item {
  background: transparent;
  color: #c0c0c0;
}

.accordion-body {
  font-weight: 500;
  font-size: 18px;
}
.accordion-flush .accordion-item .accordion-button {
  font-size: 24px;
  font-weight: 500;
}

.faq .accordion-header button {
  background-color: transparent;
  box-shadow: none;
  outline: none !important;
  color: #fff;
}
/* Alterar cor do icone */
.accordion-button:not(.collapsed) {
  background-color: #f0f0f0;
  color: #fff;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239bf00b'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
footer {
  padding-top: 180px;
}
footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 18px;
}
footer ul li {
  display: flex;
  list-style: none;
  margin-left: 56px;
}
footer ul li:first-child {
  margin-left: 0;
}
