@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  background: #0c0c0c;
}

#nav {
  background: #0c0c0c;
}
section {
  position: relative;
  margin: 0 auto;
}
.custon-hover {
  background-color: #9bf00b;
}
.custon-hover a {
  color: #0c0c0c;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: nor;
  text-decoration: none !important;
  transition: all 0.4s ease;
  text-transform: uppercase;
}
.about {
  margin-top: 220px;
}
